@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* define varibale  */
:root {
  --padding-left-right: 6em;
  --primary-color: #fdbb2d;
}
.Mode {
  color: #ffa500;
  height: 40px;
  margin-right: 517px;
  width: 80px;
  border-radius: 25px;
  background-color: black;
  border: 2px solid #ffa500;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", "Roboto", sans-serif;
  background-color: black;
  color: white;
}

.btn {
  background: linear-gradient(to right, #fdbb2d, #f3fd2d);
  color: black;
  padding: 0.8em 2em;
  border: none;
  font-size: 0.9em;
  border-radius: 2em;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0px 5px 50px 1px #fdbb2d;
}

.btn:hover {
  box-shadow: 0px 8px 50px 1px #fdbb2d;
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding-inline: var(--padding-left-right);
}

.navbar h1 {
  font-weight: 800;
}

.fas fa-moon{
  color: #e3dccb;
}

.navy li {
  list-style-type: none;
}

.navy li a {
  text-decoration: none;
  color: white;
}

.navy {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hifi {one_
  /* outline: 1px solid red; */
  height: calc(100vh - 6em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: var(--padding-left-right);
}

.hifiOne {
  max-width: 30em;
}

.hiHeading {
  font-size: 2rem;
  /* line-height: 1.5; */
}

.hiHeading span {
  font-size: 4rem;
  display: inline-block;
  color: var(--primary-color);
  font-weight: 800;
 
}
.services_det{
  padding-top: 23px
  ;
}

.hifi p {
  line-height: 1.5;
  color: rgb(199, 199, 199);
  font-size: 1em;
  padding-top: 32px;
}

.hifi button {
  margin-top: 2em;
  width: max-content;
  padding-inline: 3em;
}

.hifi .social {
  margin-top: 2em;
  display: flex;
  gap: 2em;
  align-items: center;
}

.hifi .social i {
  font-size: 2em;
  color: var(--primary-color);
}

.MeriPhoto img {
  max-width: 100%;
  width: 500px;
  height: 300px;
  border-radius: 50%;
  margin-right: 10em;
  
  
 
}

/* services */

.services {
  padding-inline: var(--padding-left-right);
}

.services_det {
  max-width: 40em;
}

.services_heading {
  font-size: 2.5em;
  font-weight: 800;
  margin-top: 2em;
}

.services_heading span {
  display: inline-block;
  color: var(--primary-color);
  font-size: 3.5rem;
}

.services_det p {
  color: rgb(199, 199, 199);
}

.services_btn {
  margin-top: 2em;
}

.cards {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  /* max-width: max-content; */
  /* float: right; */
  margin-top: -5em;
  justify-items: end;
  margin-right: 10em;
}

.card:first-child {
  grid-area: 1 / 2 / 2 / 3;
  animation-name: slide_top;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:nth-child(2) {
  grid-area: 1 / 1 / 3 / 2;
  height: max-content;
  align-self: center;
  padding-block: 2em;
  animation-name: slide_left;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
  animation-name: slide_right;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15em;
  border-radius: 1em;
  background-color: rgb(245, 245, 245);
  color: black;
  padding: 1em 2em;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.card i {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: var(--primary-color);
}

@keyframes slide_left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide_right {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* experiences*/

.experiences {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8em auto;
  /* max-width: 40em; */
  gap: 8em;
  text-align: center;
  padding-inline: var(--padding-left-right);
}

.experience div {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #fdbb2d;
  font-weight: 800;
}

.experience p {
  font-size: 1em;
  margin-top: 1.5em;
}

.experience p span {
  color: var(--primary-color);
}

/* work brand */

.work_brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: var(--padding-left-right);
}

.work_brand_details {
  max-width: 40em;
}

.work_brand_details h1 {
  font-size: 3em;
  font-weight: 800;
}

.work_brand_details h1 span {
  color: var(--primary-color);
}

.work_brand .brand_image img {
  max-width: 100%;
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.work_brand_details p {
  color: rgb(199, 199, 199);
  margin-top: 5px;
}

.work_brand_details button {
  margin-top: 4em;
}

/* projects */

.projects_sec {
  margin-top: 8em;
  text-align: center;
  padding-inline: var(--padding-left-right);
}

.projects_sec h1 {
  font-size: 3em;
  font-weight: 800;
}

.project_cards {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.project_card {
  text-align: center;
  max-width: 15em;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 1em 2em;
  border-radius: 8px;
}

.project_card:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.project_card h2 {
  margin-bottom: 0.9em;
}

.project_card p {
  margin-bottom: 1em;
}


/* contact section */

.contact {
  margin-top: 8em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5em;
  padding-inline: var(--padding-left-right);
}

.contact_heading h1 {
  font-size: 3em;
}

.contact_heading span {
  color: var(--primary-color);
  font-weight: 800;
}

.contact_form form {
  max-width: 40em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-right: 10em;
}

.contact_form input {
  padding: 1em 1em;
  width: 30em;
  border-radius: 8px;
}

.contact_form textarea {
  padding: 1em 1em;
  width: 100%;
  border-radius: 8px;
}

.contact_form button {
  width: 100%;
}

/* footer */

/* footer {
  padding-left: -6em;
  overflow: hidden;
}

footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background-color: var(--primary-color);
  margin-top: -1em;
  padding-bottom: 2em;
}

footer .social i {
  font-size: 3em;
  color: black;
} */

/* media queries */

@media (max-width: 1284px) {
  .MeriPhoto img {
    margin-right: 0;
  }

  .cards {
    margin-right: 0em;
  }

  .work_brand {
    text-align: center;
    justify-content: center;
    gap: 2em;
    align-items: center;
  }
}

@media (max-width: 1120px) {
  .contact {
    justify-content: center;
    gap: 5em;
  }

  .contact_form form {
    margin-right: 0;
  }
}

@media (max-width: 970px) {
  :root {
    --padding-left-right: 3em;
  }

  .hifi {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .MeriPhoto
   {
    display: none;
  }

  .hifiOne {
    margin-top: 1em;
    text-align: center;
  }

  /* .hifi .social {
    justify-content: center;
  } */

  .services_det {
    text-align: center;
    margin: 0 auto;
  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 2em;
  }

  .work_brand .brand_image img {
    width: 300px;
  }

  .contact_heading {
    text-align: center;
  }
}

@media (max-width: 796px) {
  .navbar ul li,
  .Mode {
    display: none;
  }

  .experiences {
    gap: 4em;
  }
}

@media (max-width: 500px) {
  .hifiOne {
    margin-top: 0;
  }

  .hiHeading span {
    font-size: 2rem;
  }

  .contact_form input {
    width: 20em;
  }
}

@media (max-width: 400px) {
  :root {
    --padding-left-right: 1.2em;
  }
}
.hey{
  font-size:23px;
  font-weight:  bold;
  padding-top: 146px;
}

.custom-shape-divider-top-1661086164 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1661086164 svg {
  position: relative;
  display: block;
  width: calc(195% + 1.3px);
  height: 177px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1661086164 .shape-fill {
  fill: #FFFFFF;
}
.End{
  width: 100%;
  height: 400px;
  background-color: gold;
  margin-top:100px ;
  
}
.mail{
  text-align: center;
    color: black;
    /* margin-top: 46px; */
    position: relative;
    top: 40px;
}
.footer{
  display: flex;
  justify-content: center;
/* padding: 0px 30px; */
margin-top: 80px;

}
.End>footer>a{
  margin:0px 30px;
}
#abc{
  margin-left: 2em;
  padding-left: 2px;
  text-decoration: none;
  color: white;
  font-size: large;
  
}
.sec5Box{
  display: flex;
  justify-content: center;
 }.class1>img{
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
.five{
  margin-top: 80px;
  /* padding: 100px; */
 }
 .sec5{
  padding: 100px;
  text-align: center;

 }
 .clients{
  color: white;
 }
 #exceptional{
  color: gold;
 }
 .class1{
  width: 600px;
  height: 250px;
  border: 3px solid white;
  border-radius: 50px;
  background-color: grey;
 
}
#visit2{
  border-radius: 25px;
  width: 60px;
  height:30px;

}

.navy li a:hover{
    color: #ffa500;
}